[submodule "hibernate"]
	path = hibernate
	url = https://github.com/MohamedFaruk-M/hibernate.git
[submodule "spring"]
	path = spring
	url = https://github.com/MohamedFaruk-M/spring.git
[submodule "cdi"]
	path = cdi
	url = https://github.com/MohamedFaruk-M/cdi.git
[submodule "jms"]
	path = jms
	url = https://github.com/MohamedFaruk-M/jms.git
[submodule "jax-rs"]
	path = jax-rs
	url = https://github.com/MohamedFaruk-M/jaxrs.git
[submodule "jaxb"]
	path = jaxb
	url = https://github.com/MohamedFaruk-M/jaxb.git
